.tabela-lojas{
  background-color: white !important;
  color: #242424 !important;
}

.primeira-coluna {
  width: 270px;
  font-weight: bold;
  border-right: 3px solid #333333 !important; /* Separador à direita */
  position: relative;
}

.checkbox-loja{
  width: 36px;   /* largura */
  cursor: pointer;
}

.checkbox-loja {
  text-align: center;
  padding: 4px !important;
  width: 26.6px;
  height: 20px;
  position: relative;
}

.ultima-coluna {
  width: 180px;
  text-align: center;
  margin-left: 3px;
  border-left: 3px solid #333333 !important; /* Separador à esquerda */
  position: relative;
}
.tabela-lojas tr:hover {
  background-color: rgba(0, 123, 255, 0.05);
}

/* Estilo para o tooltip */
.tooltip {
  font-size: 15px;
  max-width: 250px;
  z-index: 1060;
  background-color: black;
}

.icon-check {
  color: #28a745 !important; /* Verde */
}

.icon-x {
  color: #dc3545 !important; /* Vermelho */
}

.checkbox-loja {
  text-align: center;
  vertical-align: middle;
}

.checkbox-loja:hover {
  background-color: #f8f9fa;
}

.separador-categoria {
  width: 0.5px;
  background-color: #333333;
  border: none;
  padding: 0;
}
