.card{
  padding: 0;
  width: 300px;
  height: 400px;
  border-color: aliceblue;
  border-style: solid;
  border-top: solid;
  border-top-color: #242424;
  text-align: center;
}
h1{
  font-size: 35px;
 
}

p{
  font-size: 20px;
}

/* Card.css */
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio-group .form-check {
  display: flex;
  align-items: center;
}

.form-radio{
  display: flex;
  justify-content: center;
  margin-top: 100px;

}

.footer-card{
  width: 300px;
  height: 120px;
  font-size: 15px;
  border-color: aliceblue;
  background-color:#F2D30A ;
  border-style: solid;
  border-top: solid;

}

.footer-card h1{
  font-style: italic; 
  font-size: 20px;
  color:#242424 ;
}                                

.footer-card p{
  font-size: 17px;
  color:#242424 ;
}                                                                                                                       