.card{
  padding: 0;
  width: 300px;
  height: 400px;
  border-color: aliceblue;
  border-style: solid;
  text-align: center;
}
h1{
  font-size: 35px;
 
}

p{
  font-size: 20px;
}

/* Card.css */
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio-group .form-check {
  display: flex;
  align-items: center;
}

.form-radio{
  display: flex;
  justify-content: center;
  margin-top: 100px;

}