 #root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  margin-left: 4px;
  width: 100%;
  height: 420px;
}

.tabela-loja-main{
  margin-left: 6px;
}
.previsao-inauguracao{
  writing-mode: vertical-rl; /* texto em pé */
  transform: rotate(180deg); /* corrige de ponta cabeça */ 
  width: 16px;
  padding: 70px;
  font-size: 25px;
}
.proximas-inaugurações{
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  height: 35px;
  width:100%;
  border-top:  1px solid white;
}