 #root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  width: 1918px;
  height: 420px;
}
.previsao-inauguracao{
  writing-mode: vertical-rl; /* texto em pé */
  transform: rotate(180deg); /* corrige de ponta cabeça */ 
  padding: 35px;
  font-size: 28px;
}

.proximas-inaugurações{
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  height: 35px;
  width: 1915px;
  border-top:  1px solid white;
}