.thead-amarela {
  background-color: #F2D30A !important;
  color: #242424 !important;
}

/* Tabela.css */
.tbody-branco {
  background-color: white !important;
}

.tbody-branco tr {
  background-color: white !important;
  color: #242424 !important;

}

.tbody-branco tr td {
  background-color: white !important;

}